@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.header-main {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 3.2rem 14rem;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-left: 3.2rem;
}

.nav-item {
  text-decoration: none;
  font-size: 1.2rem;
  color: #474747;
}

.nav-title {
  font-style: normal;
  font-weight: 800;
  color: #181818;
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.text-primary {
  color: #fd6e0a;
}

.nav-item--cta {
  padding: 1.2rem 2.2rem;
  background: #fd6e0a;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 4rem;
}

.banner {
  display: flex;
  margin: 11.5rem 14rem;
  align-items: center;
}

.banner-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  color: #757575;
}

.banner-title {
  font-style: normal;
  font-weight: 700;
  font-size: 5.25rem;
  margin-bottom: 1.25rem;
}

.banner-description {
  color: #757575;
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}

.download {
  width: 12.5rem;
  height: 4rem;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  margin-right: 1.875rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: #ffffff;
}

.contact-me {
  width: 10rem;
  height: 4rem;
  color: #fd6e0a;
  border-color: #fd6e0a;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}

main {
  max-width: 72rem;
  margin: 0 auto;
}
/* About me */
.about-me {
  margin-top: 8.125rem;
  background: #fff8f3;
  border-radius: 10px;
  padding: 8.125rem 9.375rem;
}

.section-title {
  text-align: center;
  margin-bottom: 3.125rem;
  font-size: 2rem;
  font-weight: 700;
}

.section-description {
  color: #757575;
  font-size: 1.125rem;
  margin-bottom: 2rem;
  font-weight: 400;
  text-align: center;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info_title {
  font-size: 1.25rem;
  color: #757575;
}

.about-info_description {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
}

/* What I do */

.skills-container {
  display: flex;
  gap: 1.5rem;
}

.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 2rem;
}

.skill img {
  margin-bottom: 2rem;
}

.skill-title {
  font-style: normal;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #181818;
}

.skill-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #757575;
}

section {
  margin-top: 8.125rem;
}

/* resume */
.resume-content {
  display: flex;
  gap: 1.5rem;
}

.resume-item {
  margin: 2rem 0;
}

.resume-content .resume-title {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #474747;
}

.resume-item .title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #474747;
  margin-bottom: 0.625rem;
}

.resume-item .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.resume-item .description {
  color: #757575;
}

.resume-download-option {
  margin-top: 3.125rem;
  text-align: center;
}

/* contact section */
.contact {
  display: flex;
  gap: 6.25rem;
  background: #fff8f3;
  padding: 8.125rem 12.5rem;
}

.contact .section-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 1.5rem;
  border: none;
  width: 100%;
  padding: 1.125rem 1.875rem;
}

input {
  height: 4rem;
}

.section-description_contact {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #474747;
}

.socials {
  height: 1.5rem;
  width: 200px;
  margin-top: 1.875rem;
}

.contact a {
  text-decoration: none;
  margin-right: 1.5rem;
}